@import url("reset.css");
@import url("grid.css");
@import url("buttons.css");
@import url("tipography.css");
@import url("icons.css");
@import url(menu.css);
body{
	font-family: 'Open Sans', sans-serif;
	color: rgb(160,160,160);
	line-height: 25px;
}
.section {
	padding: 30px 0px 30px 0px;
}
.section-center {
	text-align: center;
}

#header nav a{
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
}
#header nav a:hover, #header nav a.active {
	background-color: rgba(84,209,84, 0.3);
}
#header h1 {
	font-size: 64px; 
	line-height: 60px;
}
#header .btn {
	border-radius: 30px;
	padding: 10px 45px ;
}
#header .btn:hover {
	background-color: rgb(84,180,84);
}
#header {
	background: #000 no-repeat fixed center;
	background-size: cover;
	color: #fff;
	padding-top: 30px;
	width: 100%;
	height: 1024px;
	position: relative;
}
#header a {
	color: #fff;
}
#header nav {
	text-align: right;
}
#header nav ul, #header nav ul li{
	display: inline-block;
}
#header .title {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
	text-align: center;
}
#footer{
	background: rgb(80, 80, 80);
	color: rgb(176, 176, 176);
	padding-top: 20px;
}
#footer h3:after{
	content: '';	
	display: block;
	background-color: rgb(215, 215, 215);
	margin: 10px auto 0 auto;
	padding:0px 15px 0px 15px;
	width: 2px;
	height: 2px;
}
#footer .container .row .logoBoxBottom {
	padding-right: 5px;
	padding-left: 5px;
	opacity: .5;
}
#footer .container .row .logoBoxBottom:hover{
	opacity: 1;
	transition: ease .5s;
}
#footer h3, #footer nav li{
	text-transform: uppercase;
	padding-top: 5px;	
	padding-left: 5px;
}
#footer h3 {
	text-align: center;
}
#footer nav li{
	padding-left: 65px;
}
#footer nav, #footer a {
	color: rgb(215, 215, 215);
	text-align: left;
}
#footer a{
	padding-right: 15px;
}
#footer p{
	text-align: justify;
}
#footer nav li a:hover {
	color: rgb(255, 255, 255);
}
.copyright {
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 5px;
	margin: 0;
	background-color: rgb(51, 51, 51);
}

@media (max-width: 992px) {
	#header, #header nav {
		text-align: center;
	}
}